<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestfulBookerSuite">
    <test thread-count="5" name="AllTests">
        <classes>
            <class name="test.AuthTest"/>
            <class name="test.BaseTest"/>
            <class name="test.GetBookingTest"/>
            <class name="test.CreateBookingTest"/>
            <class name="test.UpdateBookingTest"/>
            <class name="test.UpdatePartialTest"/>
            <class name="test.DeleteBookingTest"/>
        </classes>
    </test> <!-- AllTests -->
</suite> <!-- RestfulBookerSuite -->
